@font-face {
  font-family: 'HalvarEng';
  src: url('../fonts/HalvarEng-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HalvarEng';
  src: url('../fonts/HalvarEng-Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HalvarEng';
  src: url('../fonts/HalvarEng-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}