body {
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-position: center;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  @include fluid-text(60, 43);
}

h2, .h2 {
  @include fluid-text(40, 36);
}

h3, .h3 {
  @include fluid-text(30, 26);
}

h4, .h4 {
  @include fluid-text(20, 18);
}