@import '@/app/styles/mixins';
.main-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 50px;
}
.main-info {}
.main-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  text-align: center;
}
.main-products-text{
  width: 100%;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 24px;
  color: #8C8C8C;
}
