.paid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  padding: 32px 38px;
  background: linear-gradient(93.07deg, rgba(255, 255, 255, 0.06) 0%, rgba(153, 153, 153, 0.048) 100%);
  border-radius: var(--border-radius-large);
}
.paid-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px
}
.paid-text {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 36px;
  color: #FFFFFF80;
}
.paid-count {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 36px;
}
.paid-coin {
  color: var(--color-accent);
}