.product-categories {
  transition-duration: 0.7s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@starting-style {
  .product-categories{
    opacity: 0;
  }
}
.product-category {
  cursor: pointer;
}