@import "@/app/styles/mixins";
.payment-methods{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-text{
    color: var(--color-light);
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
  }

  &-variants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  &-variant {
    @include reset-button();
    cursor: pointer;
    display: flex;
    text-align: left;
    padding: 40px 30px;
    border-radius: 24px;
    height: 321px;
    background: linear-gradient(93.07deg, rgba(255, 255, 255, 0.06) 0%, rgba(153, 153, 153, 0.048) 100%);

    & > span {
      text-transform: uppercase;
      color: var(--color-light);
      font-family: var(--font-family-base);
      font-weight: 500;
      font-size: 36px;
    }
    &-card {
      background: linear-gradient(93.07deg, rgba(255, 255, 255, 0.06) 0%, rgba(153, 153, 153, 0.048) 100%), url("/cards.png");
      background-position: center, right 180% bottom 50%;
      background-repeat: no-repeat, no-repeat;
      background-size: cover, 130% auto;
    }
    &-money {
      background: linear-gradient(93.07deg, rgba(255, 255, 255, 0.06) 0%, rgba(153, 153, 153, 0.048) 100%), url("/money.png");
      background-position: center, right 180% bottom 50%;
      background-repeat: no-repeat, no-repeat;
      background-size: cover, 130% auto;
    }
  }
}
