@import "@/app/styles/mixins";

.modal {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition-duration: 0.5s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: #000000CC;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: opacity 0.6s ease, display 0.6s ease allow-discrete,overlay 0.6s ease allow-discrete;
  &[open]{
    display: flex;
    opacity: 1;
  }
  &-window {
    display: flex;
    padding: 40px;
    border-radius: var(--border-radius-large);
    background: linear-gradient(270deg, rgba(7, 7, 7, 0.98) 0%, rgba(20, 20, 20, 0.98) 100%);
    flex-direction: column;
    max-width: 800px;
  }
  &-title {
    color: var(--color-light);
    font-family: var(--font-family-base);
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
  }
  &-message {
    margin-top: 10px;
    color: #FFFFFF80
  }
  &-buttons {
    margin-top: 30px;
    display:  flex;
    flex-direction: row;
    gap: 20px
  }
  &-button {
    @include reset-button();
    cursor:  pointer;
    color: var(--color-light);
    border-radius: var(--border-radius);
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    width: 100%;
    padding: 24px;
  }
  &-reject{
    background-color: var(--color-warning);
  }
  &-resolve{
    background-color: var(--color-success);
  }
}

@starting-style {
  .modal[open] {
    opacity: 0;
  }
}